.box {
    box-sizing: border-box;
    width: 340px;
    height: 139px;
    border-radius: 2px;
    border: 1px solid rgba(0, 17, 34, 0.1);
    background: rgba(246, 246, 246, 0.2);
    margin: 12.5px;
    padding: 15px 25px;
    &_head {
        display: flex;
        justify-content: space-between;
    }
    &_name {
        font-size: 18px;
        color: rgba(0, 17, 34, 0.8);
        font-weight: 700;
        line-height: 32px;
    }
    &_text {
        font-size: 14px;
        font-weight: 500;
        line-height: 24px;
        color: rgba(0, 17, 34, 0.8);
        display: flex;
        align-items: center;
        svg {
            margin-right: 8px;
            fill-opacity: 0.5;
        }
    }
    &_edit {
        background: #ffff;
        border-radius: 50%;
        width: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        display: none;
    }
}
.box.selected {
    background: rgba(0, 17, 34, 0.1)
}
.box_edit.selected {
    display: flex;
}
.box:hover .box_edit {
    display: flex;
}
.box:hover {
    cursor: pointer;
    background: rgba(0, 17, 34, 0.1)
}